{
  "presets": [["@babel/preset-env", { "loose": true }],"@babel/preset-react"],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "babel-plugin-react-docgen",
    "babel-plugin-transform-async-to-promises"
  ]
}
